/* HEADER */
.header{
    background-color: #1c242a;
    //header__container
    &__container{
            position: relative;
            display: flex;
            align-items: center;
            height: 75px;
    }
    //.header__logo
    &__logo{
        width: 144px;
        display: inline-block;
        img{
            width: 50px;
            height: auto;

            @media(max-width: $md3+px){
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
            
    }
    //header__menu
    &__menu{


            
    }
    &__actions{
            
    }
}

//menu
.menu{
    padding: 0px 0px 0px 30px/950px * 100%;
    flex: 1 1 auto;

    @media screen and (max-width: 425px){
        flex: 0 0 auto;

    }

    // .menu__body
    &__body{
        width:100%;
        height: 100%;
        left: 0;
        top:0;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.8s ease 0s;

        @media screen and (max-width: 425px) {
            display: none;

            &._active {
                display: block;
                background-color: rgba(28, 36, 42, 0.8);
                position: fixed;
                visibility: visible;
                opacity: 1;
                padding: 80px 0px 20px 0px;
            }
        }
        &:after{
            content: "";
            display: none;
            background-color: #1c242a;
            //position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 75px;
        }


        
    }
    &__list{
        display: flex;
        justify-content: center;
        li{
            margin: 0px 15px;
        }
        @media (max-width:$md3+px) {
            display: block;
            text-align: center;
        }
    }
    &__link{
            font-family: "PFDin";
            text-transform: uppercase;
            letter-spacing: 1.4px;
            color: #fff;
            cursor: pointer;
            @media (max-width:$md3+px) {
                &:hover{
                    color:#000;
                }
            } 
    }
}

.icon-menu {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    fill: white;
    cursor: pointer;
    display: none;

    @media (max-width: 425px){
        position: relative;
        width: 144px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        display: block;

    }
}


/* HEADER MAIN */

.user-header{

    &__icon{
        cursor: pointer;
        img{
            width: 30px;
            height: 30px;
        }
    }
    &__menu{
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in 0s;
        position: absolute;
        color: #fff;
        top: 86px;
        right: 13px;
        background-color: #1c242a;
        padding: 20px;
        li{
            margin: 0px 0px 10px 0px;
            &:last-child{
                margin: 0px;
            }
        }

        &.active{
            opacity: 1;
            top: 76px;
            visibility: visible;
        }
    }
    &__link{
        color: #fff;
        padding: 0px 0px 0px 30px;
        display: inline-block;
        
        @media (max-width:$md3+px) {
            padding: 0px 0px 0px 70px;
            white-space: pre;
        }


        &_1{
            background: url("../img/black-and-white.svg") left no-repeat;
        }
        &_2{
            background: url("../img/black-and-white.svg") left no-repeat;
        }
        &_3{
            background: url("../img/black-and-white.svg") left no-repeat;
        }
        &_4{
            background: url("../img/black-and-white.svg") left no-repeat;
        }
    }
}

.actions-header{
    display: flex;
    align-items: center;
    height: 75px;
    z-index: 2;
    position: relative;

    &__region{
        @extend .menu__link;
        padding: 0px 0px 0px 30px;
        line-height: 18px;
        display: flex;
        min-width: 18px;
        min-height: 18px;

        @media (max-width: 890px) {
            display: none;
        }

        .region-img__wrapper{
            margin-right: 8px;
        }

        .region-text__wrapper{
            display: flex;
            align-items: center;
        }

        
        
        img{
            width: 30px;
            height: auto;
        }
    }
    &__user{
        margin: 0px 0px 0px 15px;
        @media (max-width: $md3 + px) {
            margin: 0px 20px 0px 15px;
        }
    }

}